html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span {
  font-size: 12px;
  color: black;
  background-color: white;
  border-radius: 20px;
  height: fit-content;
  padding: 5px;
  font-weight: 700;
  margin: auto 0;
  cursor: pointer;
}

section {
  height: 85vh;
  font-size: inherit;
  padding: 20px;
}

.link {
  cursor: pointer;
}

.container {
  background-color: transparent;
}

.landingWrapper {
  /* background-image: url('/public/assets/landing-background.avif') no-repeat center center fixed; */
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.titletext {
  width: fit-content;
  margin: 10px auto;
  padding: 20px 0;
}

.narrowTitle {
  font-weight: 700;
  margin-bottom: 1rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.sizedbox {
  width: 100%;
  height: 100px;
}

/* Landing Page  */

.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto 0;
  height: inherit;
  padding: 20px 0 30px;
  background: transparent;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;  
  width: 50%;
  margin: 0 auto;
}

.landing-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.2;
}

button {
  border: none;
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  box-shadow: 5px 5px;
}

.btn-filled {
  background-color: rgba(210, 180, 31, 0.799);
  border: 2px solid black;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid rgba(210, 180, 31, 0.799);
}

.btn-outline:hover {
  background-color: rgba(210, 180, 31, 0.799);
  border: 2px solid black;
}

.center-all {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

button {
  background-color: rgba(210, 180, 31, 0.799);
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

.flow-wrap , form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.flow-wrap {
  min-height: 200px;
}

input {
  width: inherit;
  height: 50px;
  font-size: 1.2rem;
  margin: 10px auto;
  padding: 10px;
}

label {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  align-items: center;
  display: block;
}

.round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: larger;
  font-weight: 700;
  background-color: rgba(210, 180, 31, 0.799);
  margin: 0 auto;
  padding: 10px;
}

.preview-img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  background-color: white;
  border: 2px solid black;
}

.nft-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 10 auto;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.nft-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(210, 180, 31, 0.799);
  margin: auto;
  padding: 10px;
}

.nft-card img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  background-color: white;
}